{% extends "base.html" %}

{% block hero %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
        <p>
        <a href="{% url 'index' %}">Home</a>.

        <a href="{% url 'keebs:build-list' %}">Build List</a>
        </p>
    </div>
</div>
{% endblock hero %}

{% block content %}
    <h1>Newest Builds</h1>
    <hr></hr>

    {% for build in builds %}
        {% if forloop.counter0|divisibleby:4 %}
            <div class="row pb-4">
        {% endif %}
        <div class="col-sm-3">
            <div class="card">
            <div class="card-header bg-warning">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                <img class="card-img-bottom" src="https://pypi.org/static/images/logo-small.6eef541e.svg" alt="Card image cap">
            </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}
    {% endfor%}

    {% for user in users %}
    <h1>{{ user.username }}</h1>
    {% endfor %}

{% endblock content %}
